@use 'base/mixins' as m;
@use 'base/variables' as v;


.experiencias {

    &__listado {

        display: grid;
        grid-template-columns: repeat(3, 30rem);
        column-gap: 2rem;
        @include m.scrollHorizontal;

        @include m.tablet {
            @include m.grid (3, 2rem);
            overflow: unset;
        }
    }

}

.experiencia {

    &__imagen {
        border-radius: 1rem;
    }

    &__titulo {
        font-size: 2rem;
        font-weight: 900;
    }

    &__descripcion {
        font-size: 1.8rem;
    }
}


